*{
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0;
  }

  .votr-hidden{
    position:absolute!important;
    height:1px;
    width:1px;
    overflow:hidden;
    clip:rect(1px 1px 1px 1px);
  }

  .votr-ballot{
    display: block;

    a, img, span, strong{
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      padding: 0.25em;
      box-shadow: none !important;
      border-radius: 0.25em;
      transition: all 0.35s;
    }

    strong{
      font-size: 150%;
      font-family: monospace;
    }

    a:hover, a:focus{
      background: #DDD;
    }

  }

  .user_vote{
    img{
      max-width: 25px;
      height: auto;
    }
  }